---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome!</h1>
			<p>
				This is my new blog. This is a minimal landing page while I figure out what I
				want this to become.
			</p>
			<p>Here are a few links to get you started:</p>
			<ul>
				<li><a href="https://www.linkedin.com/in/johnaabsher/">LinkedIn</a>
				<li><a href="https://color-mapper-webui.appspot.com/">Color Palette Generator</a></li>
				<li><a href="https://pcpartpicker.com/b/sddD4D">SFF PC Build</a></li>
				<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2924374014">
					Mass Effect 3 Modding Guide for Steam Deck</a>
				</li>
				<li><a href="https://github.com/johnabsher/whimsify">Whimsify</a>, a Chrome Extension
					that replaces all images with cartoons
				</li>
				<li><a href="https://github.com/johnabsher/SlabKingIndustries">Slab King Industries</a>, a
					collection of compatibility patches and feature enhancements for Kerbal Space Program
				</li>
				<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2298620806">Wall Heater</a>, a Rimworld mod
					that adds a wall-mounted heater (and nothing else!)
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
